@import "simple-line-icons.css";
@import "ionicons.min.css";
@import "font-awesome.min.css";
body {
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #121212;
}

::-moz-selection {
    background: #D40436;
}

::selection {
    background: #D40436;
}
/*TEXT STYLES*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
}

h1 small,
h2 small,
h3 small {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #121212;
}

h4 small,
h5 small,
h6 small {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #121212;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -2px;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
}

h5 {
    font-size: 14px;
    text-transform: uppercase;
}

h6 {
    font-size: 12px;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #4c4c4c;
}

p.bold {
    font-weight: 700;
}

img {
    -moz-user-select: none;
    /*-webkit-user-select: none;*/

    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /*-webkit-user-drag: none;*/

    user-drag: none;
}

.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

section {
    position: relative;
}

.container {
    position: relative;
}

section .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row {
    z-index: 3;
    position: relative;
}

.separator {
    width: 170px;
    max-width: 170px;
    margin-top: 120px;
    margin-bottom: 100px;
}

.lineSeparator {
    width: 60px;
    max-width: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.preloaderLogo {
    min-width: 200px;
    max-width: 300px;
    width: 15%;
}

.noscroll {
    overflow: hidden;
}

.container {
    z-index: 2;
    overflow: hidden;
}
/*NAVBAR */

.navbar-default {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}

.navbar-default .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: transparent;
}

.affix {
    background-color: #282828;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: white;
    background-color: transparent;
}

.navbar-nav > li > a {
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    color: #d5d5d5;
    letter-spacing: 3px;
    position: relative;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 3px 0 0;
    font-size: 10px;
    text-align: left;
    list-style: none;
    background-color: #323232;
    background-clip: padding-box;
    border: 0;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #d5d5d5;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #282828;
    background-color: #d5d5d5;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px;
}

@media (max-width: 768px) {
    .dropdown-submenu li a {
        text-align: center;
    }
}
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Intro -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#intro h1,
#intro p {
    color: white;
}

.introLogo {
    position: relative;
    width: 160px;
    margin-bottom: 20px;
}

#intro .separator {
    margin-top: 30px;
    margin-bottom: 30px;
}

#intro a {
    margin-top: 20px;
}
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Text Separator -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#text-separator .container-fluid .col-md-6 {
    padding-left: 50px;
}

#text-separator,
#text-separator-clients,
#text-separator-testimonials,
#text-separator-timers {
    background-color: #1d1d1d;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    overflow: hidden;
}

#text-separator h2,
#text-separator-clients h2,
#text-separator-testimonials h2 {
    color: white;
    z-index: 100;
    position: relative;
}

#text-separator p,
#text-separator-clients p,
#text-separator-testimonials p {
    color: #e7e7e7;
    z-index: 100;
    position: relative;
}

.textSepLogo {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.timerWrapper {
    color: white;
    padding: 20px;
}

.timerWrapper h1 {
    letter-spacing: 0;
}

.timerWrapper p {
    color: #d5d5d5;
}
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Welcome Separator -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#welcome-separator {
    background-color: white;
}

#welcome-separator .col-md-7,
#welcome-separator .container-fluid {
    padding: 0;
}

#welcome-separator .separator {
    width: 120px;
    max-width: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#welcome-separator .image {
    height: 500px;
    overflow: hidden;
}

#welcome-separator .image img {
    height: 100%;
}

.whiteOverlay {
    background: transparent url("img/gradient.png") bottom right repeat-y;
    bottom: 0;
    height: 500px;
    right: 0;
    position: absolute;
    width: 500px;
    background-size: 100% 100%;
    z-index: 4
}

.welcomeLogo {
    width: 100px;
}

.textOverlay {
    padding-bottom: 100px;
    padding-top: 100px;
    margin-left: -200px;
    z-index: 6;
}

.ip-header .ip-inner {
    display: block;
    margin: 0 auto;
}

.preloaderLogo {
    min-width: 200px;
    max-width: 300px;
    width: 15%;
}

#intro {
    margin-bottom: -40px;
}

.black-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* FF3.6+ */

    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    /* Chrome,Safari4+ */

    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 12+ */
    /* IE10+ */

    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.container {
    z-index: 2;
    overflow: hidden;
}

.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.introLogo {
    position: relative;
    width: 160px;
    margin-bottom: 20px;
}

#welcome-separator .separator {
    width: 120px;
    max-width: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.separator {
    width: 170px;
    max-width: 170px;
    margin-top: 120px;
    margin-bottom: 100px;
}

#intro .separator {
    margin-top: 30px;
    margin-bottom: 30px;
}

.textSepLogo {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--About -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

.parallaxLetter {
    position: absolute;
    font-size: 300px;
    color: #f5f5f5;
    z-index: 1;
    width: 200px;
    height: 300px;
}

.letter1 {
    right: 20%;
}

.letter2 {
    left: 20%;
}

#about {
    background-color: white;
}

#about .container {
    padding-top: 50px;
}

.lead {
    font-size: 16px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 small {
    font-size: 30px;
}

.highlight {
    color: #D40436;
}

.about-row {
    margin-bottom: 40px;
}

.about-icon {
    float: left;
    margin-top: -7px;
}

.about-info {
    padding-left: 50px;
    padding-top: 0px;
}

.about-description {
    padding-right: 50px;
}

.ion-3x {
    font-size: 3em;
}

.back-icon {
    z-index: -1;
    color: #F0F0F0;
    position: absolute;
    padding-left: 40px;
    left: 0;
    top: 0;
    width: 144px;
    height: 144px;
    line-height: 144px;
    font-size: 144px;
}

.btn,
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
input.submit,
.btn-danger {
    text-shadow: none;
    border: 0;
    background-image: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    border-color: none;
    -webkit-transition: .4s cubic-bezier(0.25, .46, .45, .94);
    transition: .4s cubic-bezier(0.25, .46, .45, .94);
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    box-shadow: none;
    background: #D40436;
}

.btn:hover,
.btn-primary:hover,
.btn-success:hover,
.btn-info:hover,
.btn-warning:hover,
.btn-danger:hover {
    background-color: #121212;
    border-color: none;
}

.btn:focus,
.btn-primary:focus,
.btn-success:focus,
.btn-info:focus,
.btn-warning:focus,
.btn-danger:focus {
    background-color: #999;
    border-color: none;
}

.btn:active,
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active {
    background: #121212;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #121212;
    border-color: #121212;
    outline: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border: 1px solid #999;
}

.btn-default:hover {
    color: #fff;
}

#separator-parallax {
    background-image: url(img/bg_5.jpg);
}
/*---- Separator Call to Action ----*/

#separator-parallax {
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    z-index: 1;
}

.call-action-parallax {
    padding: 40px 0px 40px 0px;
    vertical-align: middle;
    display: table;
}

.call-action-parallax span {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    color: #D40436;
}

.call-action-parallax span small {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #121212;
}

@media (max-width: 480px) {
    .action-5-info h3,
    .action-5-info h3 small {
        font-size: 20px;
    }
    .call-action-parallax span {
        font-size: 20px;
    }
    .call-action-parallax span small {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .action-5-info h3,
    .action-5-info h3 small {
        font-size: 22px;
    }
}
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Portfolio -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#portfolio {
    margin-top: 0;
}

#portfolio .porttitle {
    margin-bottom: 10px;
}

.portf {
    background-color: white;
}
.portf p{
    font-size: 11px;
    color: black;
    margin-bottom: 10px;
}
.serviceBox {
    width: 50%;
    height: 400px;
    position: relative;
    float: left;
    padding: 50px;
    z-index: 2;
}

.serviceBox .separator {
    width: 100px;
    max-width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.serviceBox h2 {
    padding-top: 140px;
    margin-top: 0;
}

.serviceBox h2 span {
    padding: 25px 50px;
    border: solid 10px #282828;
    color: white;
}

.serviceBox i {
    font-size: 9em;
}

.introServiceBox {
    position: relative;
    z-index: 2;
    background: url('img/opinatusintro.png') no-repeat center center;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat, no-repeat;
}

.introServiceBox2 {
    position: relative;
    z-index: 2;
    background: url('img/eopinatusintro.png') no-repeat center center;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat, no-repeat;
}

.introServiceBox3 {
    position: relative;
    z-index: 2;
    background: url('img/sonsintro.png') no-repeat center center;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat, no-repeat;
}

.introServiceBox4 {
    position: relative;
    z-index: 2;
    background: url('img/purina1.png') no-repeat center center;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat, no-repeat;
}

.whiteBox {
    background: white;
}

.blackBox {
    background: #282828;
    color: white;
}

.blackBox i,
.blackBox .pwhite {
    color: white;
}

#servicesSimple {
    background: white;
}

.serviceIconWrapper {
    padding: 20px;
}

.serviceIcon {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    line-height: 40px;
    margin-top: 3px;
    float: left;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.simpleServiceContent {
    margin-left: 60px;
}

.simpleServiceContent h4 {
    letter-spacing: 5px;
}

.serviceIconWrapper {
    padding: 20px;
}

.serviceIcon2 {
    font-size: 40px;
    line-height: 40px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
}

.simpleServiceContent2 h4 {
    letter-spacing: 4px;
}
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--SINGLE Portfolio -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

.centered-wrapper {
    width: 1120px;
    margin: 0 auto;
}

.single-portf {
    background-color: white;
}

.portfolio-title {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    padding-bottom: 5px;
}

.page-title-subtitle {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 60px 0;
    margin-bottom: 50px;
    overflow: hidden;
}

.slider-item a {
    display: block;
}

.portfolio-slider-wrapper {
    position: relative;
}

.portfolio-slider {
    position: relative;
}

.slider-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 34px;
    line-height: 34px;
    background: #fff;
    opacity: 0.8;
    padding: 0 10px;
    font-weight: bold;
    color: #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
}

.portfolio-slider img {
    height: auto;
    display: block;
    width: 100%;
}

.portfolio-slider .owl-prev,
.portfolio-slider .owl-next {
    width: 36px;
    height: 34px;
    float: left;
    background: #fff;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
}

.portfolio-slider .owl-prev:hover,
.portfolio-slider .owl-next:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
}

.portfolio-slider .owl-prev {
    margin-right: 1px;
    right: 36px;
}

.portfolio-slider .owl-next {}

.portfolio-slider .owl-buttons i {
    display: block;
    line-height: 34px;
    text-align: center;
    font-size: 28px;
    color: #999;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.portfolio-slider .owl-buttons i:hover {
    color: #323232;
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.portfolio-title {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    padding-bottom: 5px;
}

.percent-one-third {
    width: 30.66%;
    background-color: white;
}

.percent-two-third {
    width: 65.33%;
}

.percent-one-third,
.percent-two-third {
    position: relative;
    margin-right: 4%;
    float: left;
}

.column-last {
    margin-right: 0!important;
    clear: right;
}

.portfolio-inner img {
    max-width: 100%;
    height: auto;
}

.sep {
    height: 50px;
}

ul.customlist {
    margin-bottom: 20px;
    list-style: none;
}

ul.customlist li {
    padding: 8px 0;
    border-top: 1px solid #EFEFEF;
}

ul.customlist li:first-child {
    border: 0;
}

ul.customlist li i {
    margin-right: 10px;
}

.customlist i {
    color: #D40436;
    list-style: none;
}

.customlist a {
    color: #D40436;
}

a {
    color: #D40436;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

a span {
    display: block;
    position: relative;
    padding: 0 2px;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

a:hover span {
    background: #D40436;
    -webkit-transform: translate3d( 0px, 0px, -30px) rotateX( 90deg);
    -ms-transform: translate3d( 0px, 0px, -30px) rotateX( 90deg);
    transform: translate3d( 0px, 0px, -30px) rotateX( 90deg);
}

a span:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 2px;
    color: #fff;
    background: #D40436;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
    -ms-transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
    transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
}
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Contact Form -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#contact-form {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}

#contact h1 {
    margin: 10px 0 10px;
    font-size: 24px;
    color: #fff;
}

#contact hr {
    color: inherit;
    height: 0;
    margin: 6px 0 6px 0;
    padding: 0;
    border: 1px solid #d9d9d9;
    border-style: none none solid;
}
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Form Style -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#contact input,
select {
    width: 100%;
    max-width: ;
    padding: 12.9px;
    color: #444;
    background: #fff;
    border: 1px solid #F0F0F0;
    margin: 7px 0px;
    -webkit-border-radius: 2px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: none;
    box-shadow: none;
    outline: 0 none;
}

textarea {
    width: 100%;
    max-width: ;
    height: 165px;
    padding: 13px;
    color: #444;
    background: #fff;
    border: 1px solid #F2F2F2;
    margin-top: 7px;
    margin-left: ;
    margin-right: 15px;
    -webkit-border-radius: 2px;
}

#contact input:focus,
textarea:focus,
select:focus {
    border: 1px solid #999;
    background-color: #fff;
    color: #333;
}

#contact input.submit {
    width: 185px;
    margin: 15px 0px;
    cursor: pointer;
    background: #D40436;
    color: #fff;
    border-radius: 3px;
    border-color: none;
    -webkit-transition: .4s cubic-bezier(0.25, .46, .45, .94);
    transition: .4s cubic-bezier(0.25, .46, .45, .94);
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
}

#contact input.submit:hover {
    background: #444;
}

#contact input[type="submit"][disabled] {
    background: #888;
}

#contact span.required {
    font-size: 13px;
    color: #ff0000;
}

#message {
    margin: 10px 0;
    padding: 0;
}

.error_message {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 22px;
    padding: 3px 10px 3px 35px;
    color: #8a1f11;
    -webkit-border-radius: 5px;
    background-color: #FBE3E4;
    background-position: 10px center;
    background-repeat: no-repeat;
}

.loader {
    padding: 0 10px;
}

acronym {
    border-bottom: 1px dotted #ccc;
}
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Footer-->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#footer {
    background-color: #121212;
    padding-bottom: 15px;
}

.footwhite {
    background-color: white!important;
}

.back-to-top {
    display: block;
    background: #121212;
    width: 45px;
    height: 40px;
    font-size: 28px;
    line-height: 38px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    border-radius: 3px 3px 0 0;
    -webkit-transform: translateZ(0);
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    cursor: pointer;
}

.footer-social {
    margin-top: 60px;
    margin-bottom: 10px;
}

.footer-social li a:hover {
    color: #fff;
}

.footer-info {
    margin-bottom: 20px;
}

.footer-copyright {
    font-size: 13px;
}

footer p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #f5f5f5;
}

.footer-logo {
    color: #f5f5f5;
}

footer .footer-menu {
    margin-top: 45px;
    border-top: 1px solid #333;
    padding-top: 30px;
    font-size: 12px;
    font-weight: 400;
    height: 64px;
    color: #999;
}

footer .footer-menu a {
    color: #999;
    margin-left: 30px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

footer .footer-menu a:hover {
    color: #fff;
}

footer .connected-icons {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    list-style: none;
}

footer .connected-icons li {
    display: inline-block;
    padding: 17px 17px;
}

footer .connected-icons li .fa-2-5x {
    font-size: 2.5em;
    color: #D40436;
}

.backToTop a {
    color: #f5f5f5;
}
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Media Queries -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .centered-wrapper {
        width: 1004px;
        padding: 0 10px;
    }
}

@media (max-width: 992px) {
    .serviceBox h2 span {
        letter-spacing: 5px;
        font-size: 22px;
    }
    .centered-wrapper {
        width: 748px;
        padding: 0 10px;
    }
    .percent-one-third {
        width: 100%;
    }
    .percent-two-third {
        width: 100%;
    }
    .percent-one-third {
        position: relative;
        margin-right: 0;
        float: left;
        min-height: 1px;
        margin-bottom: 20px;
    }
    .percent-two-third {
        position: relative;
        margin-right: 0;
        float: left;
        min-height: 1px;
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .navbar-nav > li > a {
        letter-spacing: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .percent-one-third {
        width: 100%;
    }
    .percent-two-third {
        width: 100%;
    }
    .percent-one-third {
        position: relative;
        margin-right: 0;
        float: left;
        min-height: 1px;
        margin-bottom: 20px;
    }
    .percent-two-third {
        position: relative;
        margin-right: 0;
        float: left;
        min-height: 1px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .affix .navbar-collapse {
        background: transparent;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 100%;
    }
    .navbar-nav>li>.dropdown-menu {
        text-align: center;
    }
    .ip-header {
        min-height: 120px;
    }
    .valign {
        padding-top: 130px;
    }
    .preloaderLogo {
        min-width: 100px;
        max-width: 100px;
        width: 100px;
    }
    #text-separator,
    #text-separator-clients,
    #text-separator-testimonials,
    #text-separator-timers {
        padding-left: 15px;
    }
    .textOverlay {
        padding-bottom: 100px;
        padding-top: 100px;
        margin-left: 0;
        z-index: 6;
    }
    .about-row {
        padding-left: 20px;
    }
    .serviceBox h2 span {
        letter-spacing: 5px;
        font-size: 18px;
    }
    .centered-wrapper {
        width: 460px;
        padding: 0 10px;
    }
    .percent-one-third {
        width: 100%;
    }
    .percent-two-third {
        width: 100%;
    }
    .percent-one-third {
        position: relative;
        margin-right: 0;
        float: left;
        min-height: 1px;
        margin-bottom: 20px;
    }
    .percent-two-third {
        position: relative;
        margin-right: 0;
        float: left;
        min-height: 1px;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-collapse {
        border-color: #e7e7e7;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
    }
    .percent-one-third {
        width: 100%;
    }
    .percent-two-third {
        width: 100%;
    }
    .percent-one-third {
        position: relative;
        margin-right: 0;
        float: left;
        min-height: 1px;
        margin-bottom: 20px;
    }
    .percent-two-third {
        position: relative;
        margin-right: 0;
        float: left;
        min-height: 1px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 640px) {
    #singlePageIntro .container {
        padding: 30px;
    }
    .introLogo {
        width: 80px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: -2px;
    }
    .serviceBox h2 span {
        padding: 0;
        border: 0;
    }
    .percent-one-third {
        width: 100%;
    }
    .percent-two-third {
        width: 100%;
    }
    .percent-one-third {
        position: relative;
        margin-right: 0;
        float: left;
        min-height: 1px;
        margin-bottom: 20px;
    }
    .percent-two-third {
        position: relative;
        margin-right: 0;
        float: left;
        min-height: 1px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .navbar-default {
        padding-left: 0px;
        padding-right: 0px;
    }
    h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    #intro .separator {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100px;
        max-width: 100px;
    }
    .ip-logo img {
        opacity: 0;
    }
}

@media screen and (max-width: 480px) {
    section .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #intro .separator {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #intro .separator {
        width: 100px;
        max-width: 100px;
    }
    h1 {
        font-size: 24px;
    }
    .navbar-default {
        padding-left: 0px;
        padding-right: 0px;
    }
    .serviceBox {
        padding: 20px;
    }
}
/*google nexus ish*/

@media screen and (max-width: 480px) {
    .serviceBox {
        width: 100%;
    }
    .centered-wrapper {
        width: 300px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 360px) {
    section .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 319px) {
    .centered-wrapper {
        width: 220px;
        padding: 0 10px;
    }
}

#text-separator,
#text-separator-clients,
#text-separator-testimonials,
#text-separator-timers {
    background-color: #1d1d1d;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    overflow: hidden;
}
.cssa {
position:fixed; 
top:270px; 
left:0px; 
z-index:99999; 
}
.cssa a {
width:60px;
height:40px;
text-indent:-9999px;
display:block;
background:url('http://www.cssawds.com/ribbons/brand-award-left.png') no-repeat;
}

#css-fox-nominee-badge {
position: fixed;
display: block;
z-index: 10000;
top: 150px;
right: 0;
}